/*
 * Author: Carlos Alvarez
 * URL: http://alvarez.is
 *
 * Project Name: Landing Sumo - Theme 13
 * URL: http://LandingSumo.com
 * Version: 1.0
 */

/*	################################################################
	1. GENERAL STRUCTURES
################################################################# */

/* Import fonts */
@import url(http://fonts.googleapis.com/css?family=Raleway:900,700,400);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300);

* { 
	margin: 0;
	padding: 0px;
    font-family: 'Raleway', sans-serif;
} 
body { 
	background: #fff;
	margin: 0; 
	color: #5a5a5a;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
	font-weight: 700;
}


p { 
	padding: 0; 
	margin-bottom: 12px; 
    font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 18px; 
	line-height: 28px;
	color: #666; 
	margin-top: 10px; 
}

html,
body {
	height: 100%;
}

.alignleft { float: left; }
.alignright { float: right; }
.aligncenter {
	margin-left: auto;
	margin-right: auto;
	display: block;
	clear: both;
}
.centered {text-align: center}
.mt {margin-top: 50px;}
.mt2 {margin-top: 100px;}
.mb {margin-bottom: 50px;}
.mtb {margin-top: 50px; margin-bottom: 50px;}
.mtb2 { margin-top: 100px; margin-bottom: 100px;}
.ptb {padding-top: 80px; padding-bottom: 80px;}

.clear {
	clear: both;
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	width:100%;
}
::-moz-selection  {
	color: #fff;
	text-shadow:none;
	background:#2B2E31;
}
::selection {
	color: #fff;
	text-shadow:none;
	background:#2B2E31;
}
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
a { 
	padding: 0;
	margin: 0;
	text-decoration: none; 
	-webkit-transition: background-color .4s linear, color .4s linear;
	-moz-transition: background-color .4s linear, color .4s linear;
	-o-transition: background-color .4s linear, color .4s linear;
	-ms-transition: background-color .4s linear, color .4s linear;
	transition: background-color .4s linear, color .4s linear;
	color: #1abc9c;
}
a:hover,
a:focus {
  text-decoration: none;
  color:#696E74;
}

.nopadding {
	padding: 0px !important;
	margin: 0px;
}

/* Bootstrap Modification */

.navbar-inverse {
	background: transparent;
	border: transparent;
}

img {
	padding-bottom: 10px;
}

/* FORM CONFIGURATION */

/*input {*/
	/*font-size: 16px;*/
	/*min-height: 40px;*/
	/*border-radius: 2px;*/
	/*line-height: 20px;*/
	/*padding: 11px 30px 12px;*/
	/*border: 1px solid #b9b9af;*/
	/*margin-bottom: 10px;*/
	/*background-color: #fff;*/
	/*-webkit-transition: background-color 0.2s;*/
	/*transition: background-color 0.2s;*/
/*}*/

/*.subscribe-input {*/
	/*float: left;*/
	/*width: 65%;*/
	/*text-align: left;*/
	/*margin-right: 2px;*/
/*}*/

.subscribe-input {
    font-size: 16px;
    min-height: 45px;
    border-radius: 5px;
    margin-right: 15px;
    margin-bottom: 1px;
}

.subscribe-submit {
	right: 0;
}


.btn-register {
	margin-top: 15px;
	border-radius: 50px;
	margin-right: 10px;
	top: 0px;
	float: right;
	font-size: 16px;
}

.btn-sub {
	border-radius: 50px;
}

/* Overall Buttons*/
.btn-theme {
	border-radius: 50px;
	font-size: 14px;
	padding-left: 15px;
	padding-right: 15px;
}

.btn-white {
	background: white;
	color: #2f2f2f;
}

.btn-white:hover {
	background: #2f2f2f;
	color: white;
}

/* NAVIGATION */
.navigation .navbar-brand {
    color: #00a4a2;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 25px;
}

.navigation .navbar-nav li a {
    font-size: 18px;
}

.describe-image {
    /*max-height: 400px;*/
}

/* HEADER SECTION */
#h {
	background: url(../img/header_bg.jpg) no-repeat center top;
	padding-top: 10px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 650px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#h h1 {
	color: #f9ce59;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 100;
	font-size: 70px;
	letter-spacing: 2px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}

#h h3 {
	color: white;
	font-weight: 400;
}

#h img {
	padding-bottom: 0px;
    margin-bottom: -80px;
}

/* Gray section */
#g {
    background: #e3e3e3;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
}

#g .col-md-6 {
    padding-right: 0px;
}

#g h4 {
    color: #00a4a2;
}

#g p {
    color: #666;
    font-size: 16px;
}

/* Blue/green section */
#bg {
    background: #00a4a2;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
}

#bg .col-md-6 {
    padding-left: 0px;
}

#bg h4 {
    color: white;
}

#bg p {
    color: #f0f0f0;
    font-size: 16px;
}

/* Blue/green section */
#y {
    background: #f9ce59;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
}

#y .col-md-6 {
    padding-right: 0px;
}

#y h4 {
    color: white;
}

#y p {
    color: #666;
    font-size: 16px;
}

/* FOOTER */
#s {
    background: #2f2f2f;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    color: white;
}

#s p {
    color: white;
}

#s h4 {
    font-weight: 400;
    text-align: center;
    font-size: 24px;
}

/* CREDIT */
#c {
	background: #001a19;
	padding: 20px;
    color: white;
}

#c p {
	color: white;
	font-size: 13px;
}

#c .email {
    color: #f9ce59;
    font-size: 20px;
    word-break: break-all;
}

#c .user_info {
    margin-top: 30px;
}

#c .user_info:nth-child(odd) {
    text-align: right;
}

#c .user_info:nth-child(even) {
    text-align: left;
}

#c .name {
    font-size: 20px;
    font-weight: 700;
}

#c .responsibility {
    font-size: 13px;
    font-style: italic;
    line-height: 120%;
}

#c .under-wings {
    margin-top: 50px;
    color: #00a4a2;
    font-size: 14px;
}

#c .simko {
    margin-top: -40px;
    text-align: center;
}

@media (max-width: 767px) {
    #c .simko {
        margin-top: 0px;
    }
}

#c .simko img {
    margin-left: auto;
    margin-right: auto;
}

#c .made-with {
    color: #00a4a2;
    font-size: 16px;
}

#c .heart {
    color: #f9ce59;
    font-size: 20px;
}